Import libraries

In [1]:
import pandas as pd

Load Data

In [3]:
df = pd.read_csv(r'data\pizza_sales.csv')

df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

Data Cleaning

In [ ]:
"""
Cell generated by Data Wrangler.
"""
def clean_data(df):
    df['pizza_category'].unique()
    # Rename column 'order_date' to 'order_date_old'
    df = df.rename(columns={'order_date': 'order_date_old'})
    # Derive column 'order_date' from column: 'order_date_old'
    def order_date(order_date_old):
        """
        Transform based on the following examples:
           order_date_old    Output
        1: "1/1/2015"     => "2015-1-1"
        2: "2/1/2015"     => "2015-1-2"
        """
        split1 = order_date_old.str.split("/")
        return split1.str[-1] + "-" + split1.str[1] + "-" + split1.str[0]
    df.insert(5, "order_date", order_date(df["order_date_old"]))
    # Change column type to int32 for column: 'quantity'
    df = df.astype({'quantity': 'int32'})
    # Drop column: 'order_date_old'
    df = df.drop(columns=['order_date_old'])
    # Round columns 'total_price', 'unit_price' (Number of decimals: 2)
    df = df.round({'total_price': 2, 'unit_price': 2})
    # Drop duplicate rows across all columns
    df = df.drop_duplicates()
    df = df.reset_index(drop=True)
    return df

df_clean = clean_data(df.copy())
df_clean.head()

Create a database