Import libraries

In [1]:
import pandas as pd

Load Data

In [3]:
df = pd.read_csv(r'data\pizza_sales.csv')

df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [7]:
df['order_date'].unique()

array(['1/1/2015', '2/1/2015', '3/1/2015', '4/1/2015', '5/1/2015',
       '6/1/2015', '7/1/2015', '8/1/2015', '9/1/2015', '10/1/2015',
       '11/1/2015', '12/1/2015', '13-01-2015', '14-01-2015', '15-01-2015',
       '16-01-2015', '17-01-2015', '18-01-2015', '19-01-2015',
       '20-01-2015', '21-01-2015', '22-01-2015', '23-01-2015',
       '24-01-2015', '25-01-2015', '26-01-2015', '27-01-2015',
       '28-01-2015', '29-01-2015', '30-01-2015', '31-01-2015', '1/2/2015',
       '2/2/2015', '3/2/2015', '4/2/2015', '5/2/2015', '6/2/2015',
       '7/2/2015', '8/2/2015', '9/2/2015', '10/2/2015', '11/2/2015',
       '12/2/2015', '13-02-2015', '14-02-2015', '15-02-2015',
       '16-02-2015', '17-02-2015', '18-02-2015', '19-02-2015',
       '20-02-2015', '21-02-2015', '22-02-2015', '23-02-2015',
       '24-02-2015', '25-02-2015', '26-02-2015', '27-02-2015',
       '28-02-2015', '1/3/2015', '2/3/2015', '3/3/2015', '4/3/2015',
       '5/3/2015', '6/3/2015', '7/3/2015', '8/3/2015', '9/3/2015',
       '10/3/2015', '11/3/2015', '12/3/2015', '13-03-2015', '14-03-2015',
       '15-03-2015', '16-03-2015', '17-03-2015', '18-03-2015',
       '19-03-2015', '20-03-2015', '21-03-2015', '22-03-2015',
       '23-03-2015', '24-03-2015', '25-03-2015', '26-03-2015',
       '27-03-2015', '28-03-2015', '29-03-2015', '30-03-2015',
       '31-03-2015', '1/4/2015', '2/4/2015', '3/4/2015', '4/4/2015',
       '5/4/2015', '6/4/2015', '7/4/2015', '8/4/2015', '9/4/2015',
       '10/4/2015', '11/4/2015', '12/4/2015', '13-04-2015', '14-04-2015',
       '15-04-2015', '16-04-2015', '17-04-2015', '18-04-2015',
       '19-04-2015', '20-04-2015', '21-04-2015', '22-04-2015',
       '23-04-2015', '24-04-2015', '25-04-2015', '26-04-2015',
       '27-04-2015', '28-04-2015', '29-04-2015', '30-04-2015', '1/5/2015',
       '2/5/2015', '3/5/2015', '4/5/2015', '5/5/2015', '6/5/2015',
       '7/5/2015', '8/5/2015', '9/5/2015', '10/5/2015', '11/5/2015',
       '12/5/2015', '13-05-2015', '14-05-2015', '15-05-2015',
       '16-05-2015', '17-05-2015', '18-05-2015', '19-05-2015',
       '20-05-2015', '21-05-2015', '22-05-2015', '23-05-2015',
       '24-05-2015', '25-05-2015', '26-05-2015', '27-05-2015',
       '28-05-2015', '29-05-2015', '30-05-2015', '31-05-2015', '1/6/2015',
       '2/6/2015', '3/6/2015', '4/6/2015', '5/6/2015', '6/6/2015',
       '7/6/2015', '8/6/2015', '9/6/2015', '10/6/2015', '11/6/2015',
       '12/6/2015', '13-06-2015', '14-06-2015', '15-06-2015',
       '16-06-2015', '17-06-2015', '18-06-2015', '19-06-2015',
       '20-06-2015', '21-06-2015', '22-06-2015', '23-06-2015',
       '24-06-2015', '25-06-2015', '26-06-2015', '27-06-2015',
       '28-06-2015', '29-06-2015', '30-06-2015', '1/7/2015', '2/7/2015',
       '3/7/2015', '4/7/2015', '5/7/2015', '6/7/2015', '7/7/2015',
       '8/7/2015', '9/7/2015', '10/7/2015', '11/7/2015', '12/7/2015',
       '13-07-2015', '14-07-2015', '15-07-2015', '16-07-2015',
       '17-07-2015', '18-07-2015', '19-07-2015', '20-07-2015',
       '21-07-2015', '22-07-2015', '23-07-2015', '24-07-2015',
       '25-07-2015', '26-07-2015', '27-07-2015', '28-07-2015',
       '29-07-2015', '30-07-2015', '31-07-2015', '1/8/2015', '2/8/2015',
       '3/8/2015', '4/8/2015', '5/8/2015', '6/8/2015', '7/8/2015',
       '8/8/2015', '9/8/2015', '10/8/2015', '11/8/2015', '12/8/2015',
       '13-08-2015', '14-08-2015', '15-08-2015', '16-08-2015',
       '17-08-2015', '18-08-2015', '19-08-2015', '20-08-2015',
       '21-08-2015', '22-08-2015', '23-08-2015', '24-08-2015',
       '25-08-2015', '26-08-2015', '27-08-2015', '28-08-2015',
       '29-08-2015', '30-08-2015', '31-08-2015', '1/9/2015', '2/9/2015',
       '3/9/2015', '4/9/2015', '5/9/2015', '6/9/2015', '7/9/2015',
       '8/9/2015', '9/9/2015', '10/9/2015', '11/9/2015', '12/9/2015',
       '13-09-2015', '14-09-2015', '15-09-2015', '16-09-2015',
       '17-09-2015', '18-09-2015', '19-09-2015', '20-09-2015',
       '21-09-2015', '22-09-2015', '23-09-2015', '26-09-2015',
       '27-09-2015', '28-09-2015', '29-09-2015', '30-09-2015',
       '1/10/2015', '2/10/2015', '3/10/2015', '4/10/2015', '6/10/2015',
       '7/10/2015', '8/10/2015', '9/10/2015', '10/10/2015', '11/10/2015',
       '13-10-2015', '14-10-2015', '15-10-2015', '16-10-2015',
       '17-10-2015', '18-10-2015', '20-10-2015', '21-10-2015',
       '22-10-2015', '23-10-2015', '24-10-2015', '25-10-2015',
       '27-10-2015', '28-10-2015', '29-10-2015', '30-10-2015',
       '31-10-2015', '1/11/2015', '2/11/2015', '3/11/2015', '4/11/2015',
       '5/11/2015', '6/11/2015', '7/11/2015', '8/11/2015', '9/11/2015',
       '10/11/2015', '11/11/2015', '12/11/2015', '13-11-2015',
       '14-11-2015', '15-11-2015', '16-11-2015', '17-11-2015',
       '18-11-2015', '19-11-2015', '20-11-2015', '21-11-2015',
       '22-11-2015', '23-11-2015', '24-11-2015', '25-11-2015',
       '26-11-2015', '27-11-2015', '28-11-2015', '29-11-2015',
       '30-11-2015', '1/12/2015', '2/12/2015', '3/12/2015', '4/12/2015',
       '5/12/2015', '6/12/2015', '7/12/2015', '8/12/2015', '9/12/2015',
       '10/12/2015', '11/12/2015', '12/12/2015', '13-12-2015',
       '14-12-2015', '15-12-2015', '16-12-2015', '17-12-2015',
       '18-12-2015', '19-12-2015', '20-12-2015', '21-12-2015',
       '22-12-2015', '23-12-2015', '24-12-2015', '26-12-2015',
       '27-12-2015', '28-12-2015', '29-12-2015', '30-12-2015',
       '31-12-2015'], dtype=object)

Data Cleaning

In [ ]:
"""

def convert_date(date_str):
    try:
        # Пробуем преобразовать даты формата 'dd-mm-yyyy'
        return pd.to_datetime(date_str, format='%d-%m-%Y').strftime('%Y-%m-%d')
    except ValueError:
        # Если не получилось, пробуем формат 'm/d/yyyy'
        return pd.to_datetime(date_str, format='%m/%d/%Y').strftime('%Y-%m-%d')

df['order_date'] = df['order_date'].apply(convert_date)

"""

Create a database